
.portfolioFilter a { 
	 color:#555;
	text-decoration:none;
	font-size: 17px;
}

.portfolioFilter a.current { 
    font-weight:normal;
}

.portfolioContainer div img{
	border-radius: 3px 3px 0px 0px
}

.portfolioContainer div img:hover {
	
}

.portfolioContainer > div{
    margin:10px;
	border: solid #ddd 1px;
	border-radius: 3px;

}

.object-description {
	padding: 5px 5px  10px 5px;
}

.portfolioContainer div:hover {
   -webkit-box-shadow: 0px 0px 20px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(204,204,204,1);
box-shadow: 0px 0px 20px 0px rgba(204,204,204,1);

}

.portfolioContainer div p{
	margin: 5px 0px  0px 0px;
	font-size: 14px;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
	color: #222d32;
}


.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}