:root {
	--main-color: #6E07F3;
	--main-colorDark: #191e93;
	--main-dark: #141c3a;
	--main-dark2: #241c3a;
	--main-white: #ffffff;
	--text-dark: #000;
	--text-white: #fefefe;
	--text-white2: #cfcfcf;
}