<div class="row-container">
    <div class="max-width-container width-100percent">
        <div id="header-wrapper">
            <div id="identity">
                <div id="header-logo">
                    <a href="index.html"> <object> <embed src="svg/logo-white.svg" class="main-logo" /> </object></a>
                </div>
                <!-- <nav id="main-nav">
                    <ul>
                        <li>
                            <a href="index.html"> Home </a>
                            <a href="about.html"> About </a>
                            <a href="works.html"> Works </a>
                        </li>
                    </ul>
                </nav> -->
            </div>

            <div id="socialnetworks">
                <!-- <object class="hero-avatar" data="svg/icons8-linkedin-circled.svg" class="socialnetworks-svg"> </object> -->
                <a href="https://www.linkedin.com/in/louis-mamon-78a10467/" target="_blank">
                    <object class="hero-avatar" data="svg/icons8-linkedin-circled.svg" class="svg socialnetworks-svg">
                    </object>
                </a>
                <!-- <a href="https://www.facebook.com/" target="_blank"><object> <embed src="svg/icons8-facebook.svg" class="svg socialnetworks-svg" /></object></a> -->
            </div>
        </div>
    </div>
</div>